.social-sharing {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
}

.navigation-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10px;
}

.button, .social-button {
    padding: 12px 18px;  
    background: linear-gradient(135deg, #d39bcf, #af7d9f); 
    color: white;
    text-decoration: none;
    border-radius: 30px; 
    margin: 5px;
    font-size: 16px; 
    font-weight: bold; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background 0.3s, transform 0.3s; 
    
}

.social-button i {
    font-size: 20px;
}

.button:hover, .social-button:hover {
    background: linear-gradient(135deg, #985a84, #724865); 
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); 
}

.order-button {
    background-color: #985a84; 
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    display: block; 
    width: 200px; 
    margin: 20px auto; 
    cursor: pointer; 
    border: none; 
    font-size: 16px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 50px 50px 50px 50px;
    text-align: center;
}


.cookie-item input[type="checkbox"] {
    margin-top: 10px; 
    cursor: pointer; 
}

.cookie-item label {
    font-size: 12px; 
    color: #6a6a6a; 
    margin-left: 5px; 
}

